header {
    .scrolled{
        box-shadow: 0px 10px #0000002e;
    }
    .list-menu-child {
        display: none;
    }
    .list-menu-item {
        position: relative;
    }
    .list-menu-item:hover .list-menu-child {
        display: block;
        width: 135%;
        margin: 0 auto;
        position: absolute;
        top: 69.58px;
        left: -20%;
        @include pad {
            display: none;
        }
        li {
            font-weight: 600;
            background-color: $nav-menu-child-bg-primary;
        }
        a {
            margin: 0 auto;
            padding: 10px 25%;
        }
    }
    .list-menu-child-toggle {
        background-color: $nav-menu-child-bg-primary;
        padding: 24px;
        border: unset;
        a {
            width: 100%;
            padding: 20px;
        }
        a:hover {
            background-color: #3D8BA0;
            border: 1px solid #fff;
        }
    }
    // bootstrap的漢堡子選單樣式
    .accordion-item {
        background-color: #3D8BA0;
        border: 1px solid #3D8BA0;
    }
    .accordion-button:hover {
        opacity: 0.8;
    }
    .accordion-button::after {
        background-color: $ham-icon-child-bg-primary;
    }
    .accordion {
        @include pad {
            height: 294.92px;
            overflow-y: auto;
        }
        @include mobile {
            height: 278.92px;
            overflow-y: auto;
        }
    }
}